/* TYPOGRAPHY */

h1, h2 {
    font-family: 'Bree Serif', serif;
}

h3, h4, h5, h6, p {
    font-family: 'Tinos', serif;
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 17px;
    line-height: 1.6;
}

hr {
    border-color: #fff;   
}

/* MAIN */

body {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;   
}

div.drop-shadow,
div.drop-shadow h3 {
    text-shadow: 2px 2px #3e4e60;
    font-weight: 700;
}




/* NAVIGATION */

i.toggle-hamburger {
    color: #fff;
    font-size: 28px;
}

button.navbar-toggler:hover,
button.navbar-toggler:hover i.toggle-hamburger {
    cursor: pointer;
    color: beige;   
}

button.navbar-toggler:focus,
span.navbar-toggler-icon:focus,
i.toggle-hamburger:focus {
    outline-color: beige!important;
    outline-style: none;
    outline-width: thin;
}

header {
    background-color: #3e4e60;
}

div.navbar-collapse {
    justify-content: flex-end;   
}

nav.navigation {
    background-color: #3e4e60;
    font-family: 'Bree Serif', serif;
}

nav.navigation div ul li a,
nav.navigation a.navbar-brand {
    color: #fff;   
}

/* MEDIA OBJECTS */

div.media {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 3em 0;
}

div.media-img {
    align-items: center;
    padding: 0;
}

div.media-body {
    align-items: center;
}

/* BOOTSTRAP */

.container {
    width: 100%;
    max-width: 100em;   
}

/* JUMBOTRON */

h1.book-title {
    text-shadow: 1px 1px #3e4e60;   
}

h1.book-title + span {
    display: block;
    width: 8em;   
    border-bottom: 10px solid #fff;
    margin-top: 1.5em;
}

div.jumbotron {
    height: 100%;
    background-size: cover;
    background-image:url(../images/mountains.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: left;
    margin-bottom: 0;
    padding: 8em 0 17em 0;
}

div.jumbotron > div {
    color: #fff;
    margin-top: 3em;
    padding-top: 1.5em;
}

section.how-it-started {
    display: flex;
    align-items: center;
    height: 100%;
    max-height: 1200px;
    padding: 12em 0;
    background: linear-gradient(rgba(210,210,206,0.15), rgba(210,210,206,0.00) 90%),
        #d2d2ce url(../images/mysterious.jpg) no-repeat top;
    background-size: cover;
}

section.how-life-changed {
    height: 100%;
    padding: 12em 0;
    background: linear-gradient(rgba(218,178,116,0.00), rgba(218,178,116,0.00) 90%),
        #433f3a url(../images/cottage.jpg) no-repeat bottom;
    background-size: cover;
}

section.the-book {
    height: 100%;
    padding: 9em 0;
    background: linear-gradient(0deg, rgba(34,41,52,0.20) 10%, rgba(34,41,52,0.00) 90%),
        #433f3a url(../images/river.jpg) no-repeat center;
    background-size: cover;
}

section.sharing-with-you {
    height: 100%;
    padding: 9em 0;
    background: linear-gradient(180deg, rgba(34,41,52,0.00) 80%, rgba(34,41,52,1.00)),
        #433f3a url(../images/sunset-dark.jpg) no-repeat top;
    background-size: cover;
}

section.sharing-with-you-cont {
    height: 100%;
    background-color: rgba(34,41,52,1.0);
    background-size: cover;
}

div.sharing {
    margin-bottom: 3em;   
}

section.sharing-with-you-cont img {
   margin-bottom: 2em;    
}

section.bg-night {
   background-color: rgba(34,41,52,1.0);
    
}

span.main-btn {
    display: block;
    width: 100%;
    max-width: 28em;
    color: #fff;
    background-color: transparent;
    margin: 4.5em auto 4.5em auto;
    padding: 0;
}

span.main-btn a {
    display: block;
    width: 100%;
    max-width: 28em;
    color: #fff;
    background-color: transparent;
    padding: 0.75em;
    border: 1px solid #fff;
    transition: all 0.2s;
}

span.main-btn a:hover {
    cursor: pointer;
    color: #1e242d;
    background-color: #fff;
    text-decoration: none;
    transition: all 0.2s;
}

span.main-btn a h2 {
    font-size: 1.25em;
}

div.text-bg-navy {
    padding: 1.5em;
    background: linear-gradient(180deg, rgba(210,210,206,0.85) 60%, rgba(210,210,206,0.55));
}

div.text-bg-brown {
    padding: 1.5em;
    background: linear-gradient(180deg, rgba(67,63,58,0.85) 60%, rgba(67,63,58,0.55));   
}

div.text-bg-river {
    padding: 1.5em;
    background: linear-gradient(180deg, rgba(30,37,36,0.70) 60%, rgba(30,37,36,0.00));   
}

div.text-bg-night {
    padding: 1.5em;
    background: linear-gradient(180deg, rgba(34,41,52,0.70) 60%, rgba(34,41,52,0.00));   
}

div.text-bg-brown h2,
div.text-bg-night h2,
div.text-bg-river h2,
div.text-bg-brown p,
div.text-bg-night p,
div.text-bg-river p{
    color: #fff;   
}

div.text-bg-navy h2,
div.text-bg-navy p {
    color: #34302e;
}


div.text-bg-navy p,
div.text-bg-brown p, 
div.text-bg-night p {
   
}

br.margin-bottom {
    margin-bottom: 1em;   
}

/* FOOTER */

footer {
    background-color: rgba(34,41,52,1.0);
    padding-bottom: 1.75em;
}

footer p,
footer small,
footer a {
    margin: 0 auto;
    color: #fff;
    text-align: center;
    margin-bottom: 0.25em;
}

footer p,
footer small {
    display: block;
}

footer a {
    display: inline;
}

footer a:hover {
    text-decoration: underline;
    color: #fff;
}

/* MEDIA QUERIES */

@media (min-width: 576px) {
    span.main-btn a h2 {
        font-size: 2em;
    }     
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    p.two-text-columns {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        column-gap: 30px;
    }
    
    div.media-img {
        padding: 0 15px;
    }
}